<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="./styles.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Barber Shop</title>
  </head>
  <body>
    <h1 class="some">Welcome to Barber Shop!</h1>

    <p id="uniq">We are open</p>

    <form action="/" method="post">

      <label>Your name:</label> <br>
      <input type="text" name="user_name"> <br>

      <label>Your phone:</label> <br>
      <input type="text" name="phone"> <br>

      <label>Visiting date and time:</label> <br>
      <input type="text" name="date_time"> <br>

      <button class="btn btn-success" type="submit" name="submit">Send</button>
    </form>

  </body>
</html>
